@media only screen and (min-width:768px) {
    .news{
    text-align: left;
        h1{
        text-align: left;
        }
    }/*NO ME FUNCIONA EL ALIGN LEFT Y NO SE POR QUE*/
    .comments{
    text-align: right;
        h1{
        text-align: right;
        }
    }/*NO ME FUNCIONA EL ALIGN RIGHT Y NO SE POR QUE*/
    .textoProducto{
        font-size: 1.4rem;
    }
    .mapa iframe{
        height: 400px;
    }
}
@media only screen and (min-width:992px){
    .mapa iframe{
        height: 100%;
    }
}